# .gitignore for Bram Pronk Personal Repository - CSE3000 Research Project - Group 21

# Don't track the content of these folders
/idea
*__pycache__*
/experiments
.ipynb_checkpoints/
/data
/vision/results

# Don't track these files
.DS_Store
.idea
*.pyc
.Rhistory

# Don't track these files
.DS_Store
